@{
    ViewBag.Title = "PassUsingVievBag";
}

<h1>@ViewBag.Title</h1>
<b>
    <div>@ViewBag.Line1</div>
    <div>@ViewBag.Line2</div>
    <div>@ViewBag.Line3</div>
</b>
<div>@ViewBag.Line4</div>
<b><div>@ViewBag.Line5</div></b>
<div>@ViewBag.Line6</div>
<b><div>@ViewBag.Line7</div></b>
<div>@ViewBag.Line8</div>
<b><div>@ViewBag.Line9</div></b>
<div>@ViewBag.Line10</div>
